{%- liquid
    assign banners_title = section.settings.title
    assign banners_bg = section.settings.banners_bg     
-%}

<section class="index-banners-carousel section_index-banners-carousel relative overflow-hidden w-full py-9" {% if banners_bg and banners_bg != "#ffffff" %}style="background-color: {{banners_bg}}"{% endif %} >
    {% if banners_title != blank %}
        <h2 class="text-center text-[40px] md:text-5xl mb-8 md:mb-14">{{ banners_title }}</h2>
    {% endif %}

    <div class="w-4/5 md:w-full after:content-[''] after:absolute after:top-0 after:bottom-0 after:right-0 after:w-8 after:bg-gradient-to-r from-transparent to-bgpage after:z-10">
        <div class="container mx-auto md:overflow-hidden" id="index-banners-carousel_{{ section.id }}">
            <div class="swiper-wrapper columns-4">
                {%- for block in section.blocks -%}
                    {%- liquid
                        assign banner_image = block.settings.image
                        assign banner_link = block.settings.banner_link
                        assign banner_title = block.settings.title
                        assign banner_link_text = block.settings.link_text 
                        assign banner_bg = block.settings.banner_bg   
                        assign text = block.settings.text               
                    -%}

                    {%- if banner_image -%}
                        <div class="banners_item swiper-slide w-full p-[10px] !h-auto" {% if banner_bg and banner_bg != '#ffffff' %}style="background-color: {{banner_bg}}"{% endif %}> 
                            <div class="banners_item_image">
                                {% render 'image', image:banner_image %}
                            </div>

                            <div class="banners_item_text md:px-6 pt-7 pb-10 md:pb-14 flex justify-center items-end">
                                <div class="banners_item_text-inner text-center">
                                    {%- if banner_title != blank -%}
                                        <h2 class="text-2xl md:text-3xl mb-[10px]">{{ banner_title }}</h3>
                                    {%- endif -%}

                                    {% if text %}
                                        <p class="mb-4 text-base">{{ text }}</p>
                                    {% endif %}

                                    {%- if banner_link_text != blank -%}
                                        <a class="uppercase underline-offset-4 tracking-widest text-xs underline hover:font-bold" href="{{ banner_link }}">{{ banner_link_text }}</a>   
                                    {%- endif -%}
                                </div>
                            </div>
                        
                        </div>   
                        
                    {%- endif -%}
                    
                {%- endfor -%}
            </div>

        </div>
    </div>

    <script type="text/javascript">
        (function() {
            let carouselContainer = document.getElementById('index-banners-carousel_{{ section.id }}');

            let swiper = new Swiper(carouselContainer, {
                loop: true,
                slidesPerView: 1,
                spaceBetween: 10,
                breakpoints: {
                    640: {
                    slidesPerView: 2,
                    spaceBetween: 10
                    },
                    1024: {
                    slidesPerView: 3,
                    spaceBetween: 10
                    },
                    1360: {
                    slidesPerView: 4,
                    spaceBetween: 10
                    }
                }
            
            });
        })();

    </script>

</section>


{% schema %}
    {
        "name": "Index Banners Carousel",
        "class": "banner",
        "settings": [
            {
                "type": "header",
                "content": "Banners Carousel"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "color",
                "id": "banners_bg",
                "label": "Background color",
                "default": "#ffffff"
            }
        ],
        "blocks": [
            {
                "type": "banner",
                "name": "Banner",
                "limit": 8,
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Banner image",
                        "info": "400px width & 500px height recommended"
                    },
                    {
                        "type": "url",
                        "id": "link",
                        "label": "Banner link"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Card title"
                    },
                    {
                        "type": "text",
                        "id": "text",
                        "label": "Card text"
                    },
                    {
                        "type": "text",
                        "id": "link_text",
                        "label": "Link text"
                    },
                    {
                        "type": "color",
                        "id": "banner_bg",
                        "label": "Background color",
                        "default": "#ffffff"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Index Banners Carousel",
                "blocks": []
            }
        ]
    }
{% endschema %}